* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 55px 0 25px 0;
  text-align: center;
}

header img.header_logo {
  opacity: 0.1;
}

