/* font-family: 'Pacifico', cursive;
font-family: 'Raleway', sans-serif; */

/* -------- CHANGE BOOTSTRAP GRID -------- */
.container {
  max-width: 1200px;
}

/* -------- RESET & BASIC STUFF -------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  font-family: Raleway, sans-serif;
}

/* -------- REUSABLE (like buttons etc.) -------- */

.read-more-button {
  display: inline-block;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff6033;
  font-size: 2rem;
  line-height: 56px;
  font-weight: 300;
  transition: 0.25s ease-in-out;
}

.read-more-button:hover {
  text-decoration: none;
  color: #eee;
  background-color: #ff4033;
}

.section-heading {
    margin: 0 0 10px 0;
    font-size: 9rem;
    font-family: 'Raleway';
    font-weight: bold;
    color: #fff;
}

/* -------- HEADER -------- */

header {
  background-image: url(images/header_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

nav.navbar {
  padding: 5rem 0;
}

nav.navbar ul.navbar-nav li.nav-item {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 3rem;
}

nav.navbar ul.navbar-nav li.nav-item:last-of-type {
  margin-right: 0;
}

nav.navbar ul.navbar-nav li.nav-item a{
  color: #262626;
  text-decoration: none;
  border-top: 2px solid transparent;
  transition: all 0.35s ease-in-out;
}

nav.navbar ul.navbar-nav li.nav-item a.active{
  border-color: #ff6033;
}

nav.navbar ul.navbar-nav li.nav-item a:hover{
  border-color: #ff6033;
}

.header-text {
  padding-top: 36rem;
}

.header-text h2.header-heading {
  font-size: 6rem;
  font-weight: bold;
  color: #262626;
}

.header-text p.header-paragraph {
  padding: 8px 0 20px 0;
  font-size: 1.6rem;
  font-weight: 300;
  color: #262626;
  line-height: 2.7rem;
}

.scroll-image {
  position: absolute;
  top: 90vh;
  left: 50%;
  transform: translateX(-50%);
  animation-name: scrollImageAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes scrollImageAnimation {
  0% {
    top: 90vh;
    transform: scale(1);
  }

  25% {
    top: calc(90vh - 5px);
    transform: scale(1.025);
  }

  50% {
    top: calc(90vh - 10px);
    transform: scale(1.025);
  }

  75% {
    top: calc(90vh - 5px);
    transform: scale(1.025);
  }

  100% {
    top: 90vh;
    transform: scale(1);
  }
}

/* ABOUT US SECTION */
section#about {
  background-color: #00b2b2;
}
.image-wrapper {
  padding: 3.5rem 0 2.5rem 0;
}
.about-image {
  max-width: 100%;
}
.about-text-wrapper {
  padding: 16rem 0 22rem 0;
}
.about-text {
  font-size: 1.7rem;
  font-family: 'Raleway';
  font-weight: 300;
  line-height: 2.7rem;
  color: #fff;
}

/* SERVICES SECTION */
section#services {
  background-color: #70bfff;
}

.cards-wrapper {
  padding: 18rem 0 15rem 0;
}
.card-row {
  margin-bottom: 2rem;
}
.card-row:last-of-type {
  margin-bottom: 0;
}
.card-wrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  max-height: 100px;
  overflow: hidden;
}
.card-wrapper_text {
  flex-basis: calc(100% - 100px);
  padding: 3rem 2rem;
  border-right: 1px solid #9d9d9d;
}
.card-wrapper_text--content {
  margin-bottom: 0;
  font-size: 2rem;
  font-family: 'Raleway';
  font-weight: 700;
  color: #262626;
  text-align: center;
}
.card-wrapper_img {
  margin: 0 auto;
}

.services-image-wrapper {
  position: relative;
  padding: 10rem 0 16rem 0;
  text-align: right;
}
.services-heading {
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  transform: translateY(-80%);
}